@tailwind base;
@tailwind components;
@tailwind utilities;

/* Utilities */
.no-scrollbar { scrollbar-width: none; }
.no-scrollbar::-webkit-scrollbar { display: none; }

html, body {
  min-height: 100%;
  background: #000;
}
